body {
    line-height: initial;
}
table.header, table.footer {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}
table.header td, table.footer td {
    text-align: center;
    border-left: 1px #9999dd double;
}
table.header td {
    border-bottom: 1px #9999dd double;
}
table.footer td {
    border-top: 1px #9999dd double;
}
table.footer button {
    border:0;
    border-radius: 0;
    width:100%;
    margin:0
}

table.header td:first-child , table.footer td:first-child {
    border-left: none;
}

table.header td:last-child, table.footer td:last-child {
    border-right: none;
}
.container {
  border:1px #9999dd double;
}
div.content p {
    text-indent: 30px;
}
select {
    margin-bottom:0;
    border: 1px double #8888cc;
}
input {
    height:24px;
    width: 198px;
    border-radius: 4px;
    border: 1px double #8888cc;
    padding-left: 10px;
    padding-right: 10px;
}
.ajax_loading {
    display: none;
}
button {
    min-width: 100px;
    min-height: 20px;
    background-color: rgba(136, 136, 204, 0.1);
    border-radius: 4px;
    border: 1px double #8888cc;
    padding:3px;
    margin:1px;
}
button:hover {
    background-color: #ddddff;
}
table.pairwise {
  border-spacing: 0;
}
table.pairwise td {
    border: 1px double #8888cc;
    text-align: center;
}
td.select span {width: 400px}
div.matrix.regular tr, div.matrix.fuzzy tr {
    height:100%;
    min-height: 25px;
}
div.matrix.regular td, div.matrix.fuzzy td {
    text-align:center;
    vertical-align: middle;
    height:100%;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
}
div.matrix.regular tr td:nth-child(1), div.matrix.fuzzy tr td:nth-child(1) {
    padding-left:5px;
    padding-right:5px;
}
div.matrix.regular input, div.matrix.fuzzy input {
    height:100%;
    min-height:25px;
    width: 100%;
    border-radius: 0;
    border: 0;
    margin-top:0px;
    margin-bottom:0px;
    padding-left: 0;
    padding-right: 0;
    text-align:center;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}

.tp {
    max-width: 600px;
}

div#untouchable input::placeholder {
   font-style: italic;
   font-weight: bold;
   color: #ffffff;
}
table.header td {
    position:relative;
}
table.header td > ul {
    background-color: #fff;
    margin-top:1px;
    margin-left:0px;
    margin-right:0px;
    left: -2px;
    top: 100%;
    width: 100%;
    position: absolute;
    border-collapse: collapse;
    padding: 0;
    display:none;
}
table.header li > ul {
    padding: 0;
    margin-top:1px;
    margin-left:0px;
    margin-right:0px;
    text-align:left;
    left: -1px;
    top: 100%;
    width: 100%;
    position: relative;
    border-collapse: collapse;
    border-bottom: 0px;
    display:none;
}
table.header td ul li {
    background-color: rgba(136, 136, 204, 0.1);
    margin: 0;
    width: 100%;
    height: 100%;
    list-style:none;
    border: 1px solid #8888cc;
    border-collapse: collapse;
    margin-top: -1px;
    
}
table.header li > ul li * {
    padding-left: 20px;
}
    